.big-box {
    position: relative;
    margin: 100px auto 500px;
    border: 5px solid black;
    width: 500px;
    height: 500px;
    position: absolute;
  }
  
  .small-box {
    width: 100px;
    height: 100px;
  }
  
  #red {
    background-color: red;
    /* 큰 사각형 내부의 우측 하단 모서리에 빨간 사각형 위치시키기 */
    position: absolute;
    /* absolute는 부모 요소인 big box를 기준으로 움직인다. */
    right: 0px;
    bottom: 0px;
  }
  
  #gold {
    background-color: gold;
    /* 브라우저의 하단에서 50px, 우측에서 50px 위치에 고정하기 */
    /* fixed는 브라우저를 기준으로 움직인다. */
    position: fixed;
    bottom: 50px;
    right: 50px;
  }
  
  #green {
    background-color: green;
    /* absolute 이용해서 큰 사각형의 가운데 위치시키기 */
    position: absolute;
    right:200px;
    bottom: 200px
  }
  
  #blue {
    background-color: blue;
    /* relative를 사용해서 큰 사각형 좌측 상단 모서리에서 100px, 100px 띄우기 */
    /* relative는 원래 자신이 있던 자리를 기준으로 움직인다 */   
    position: relative;
    left: 100px;
    top: 100px
}
  
  #pink {
    background-color: pink;
    /* 큰 사각형 내부의 좌측 상단 모서리로 옮기기*/
    position: relative;
    left: 0px;
    bottom: 100px

    /* position: absolute;
    left: 0px;
    top: 0px; */
  }

  #purple {
      background-color: purple;
      position: relative;
      left: 300px;
      top: 100px
  }

  #yellow {
      background-color: yellow;
      position: relative;
      left:200px;
      bottom: 300px
  }